@{
    ViewBag.Title = "Home Page";
}

<div ng-app="app">
    <div class="col-md-4">
        <div class="container" ng-controller="paymentSystemsController">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td><h4 style="margin: 5px;">Give</h4></td>
                        <td><h4 style="margin: 5px;">Get</h4></td>
                    </tr>
                </thead>
                <tr ng-repeat="sys in paymentSystems | orderBy : 'Name' ">
                    <td><button ng-click="setGive(sys)">{{sys.Name + '(' + sys.Currency + ')'}}</button></td>
                    <td><button ng-click="setGet(sys)">{{sys.Name + '(' + sys.Currency + ')'}}</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container" ng-controller="exchangersController">
            <table>
                <thead>
                    <tr><td>Exchanger</td><td>Give</td><td>Get</td></tr>
                </thead>
                <tr ng-repeat="exchanger in exchangers | orderBy : 'Name'">
                    <td>{{exchanger.Name}}</td>
                    <td>
                        <span>
                            {{exchanger.Give.Cost | currency : exchanger.Give.PaymentSystem.Currency}} <br />
                            {{exchanger.Give.Curreny}}
                        </span>
                    </td>
                    <td>
                        <span>
                            {{exchanger.Get.Cost | currency : exchanger.Get.PaymentSystem.Currency}} <br />
                            {{exchanger.Get.Curreny}}
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
</div>

@section scripts
{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/application")
}
