@{
    ViewBag.Title = "Home Page";
}

<div ng-app="app">
    <div class="col-md-4">
        <div class="container" ng-controller="paymentSystemsController">
            <table>
                <thead>
                    <tr>
                        <td>Give</td>
                        <td>Get</td>
                    </tr>
                </thead>
                <tr ng-repeat="sys in paymentSystems | orderBy : 'Currency' ">
                    <td><button ng-click="setGive(sys)">{{sys.Name + '(' + sys.Currency + ')'}}</button></td>
                    <td><button ng-click="setGet(sys)">{{sys.Name + '(' + sys.Currency + ')'}}</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container" ng-controller="exchangersController">

        </div>
    </div>
    
</div>

@section scripts
{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/application")
}
